---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Inici AgroConnect">
	<div class="container mx-auto p-4">
		<header class="text-center py-8">
			<h1
				class="text-6xl pb-10 font-bold drop-shadow-lg text-transparent bg-clip-text bg-gradient-to-r from-green-200 via-green-500 to-green-900 brightness-150"
			>
				AgroConnect
			</h1>
			<p class="text-purple-100 text-3xl">
				El teu soci en viticultura de precisi贸
			</p>
		</header>
		<section class="py-6">
			<div
				class="grid grid-cols-1 md:grid-cols-4 p-6 rounded-3xl bg-stone-400 bg-opacity-50 mt-6 mb-12 shadow-lg border-stone-700 border-y-2 md:gap-10 place-items-center md:pe-16"
			>
				<div class="pb-8 md:pb-0">
					<img
						class="w-full rounded-2xl drop-shadow-lg"
						src="dades.jpg"
						alt="Imatge Monitoritzaci贸"
					/>
				</div>
				<div class="col-span-3">
					<h2 class="text-3xl font-semibold mb-4 text-[#fffec4]">
						Monitoritzaci贸 de Dades en Temps Real
					</h2>
					<p class="text-xl py-3">
						AgroConnect utilitza una xarxa de <span
							class="font-bold">sensors IoT</span
						> ubicats estrat猫gicament als camps de cultiu per recopilar
						informaci贸 vital sobre l'estat de la terra i els seus parmetres.
						Alguns dels dades que monitoritzem inclouen:
					</p>
					<ul class="list-disc pl-4 md:pl-12 py-4 text-lg">
						<li class="mb-3">
							<span class="font-bold text-2xl text-stone-800"
								>Humitat del s貌l</span
							>: per optimitzar l'irrigaci贸.
						</li>
						<li class="mb-3">
							<span class="font-bold text-2xl text-stone-800"
								>Temperatura ambiental</span
							>
							: per predir condicions climtiques.
						</li>
						<li class="mb-3">
							<span class="font-bold text-2xl text-stone-800"
								>Nivells de nutrients</span
							>
							: per ajustar la fertilitzaci贸.
						</li>
						<li class="mb-3">
							<span class="font-bold text-2xl text-stone-800"
								>Salinitat del s貌l</span
							>
							: per garantir la salut de les vinyes.
						</li>
					</ul>
					<p class="text-xl py-3 opacity-65">
						El nostre sistema processa aquestes dades en temps real
						i proporciona als viticultors informaci贸 valuosa per
						prendre decisions informades. <br /> Confia en AgroConnect
						per a una viticultura m茅s eficient i sostenible!
					</p>
				</div>
			</div>
			<div
				class="grid grid-cols-1 md:grid-cols-4 p-6 rounded-3xl bg-stone-400 bg-opacity-50 my-6 shadow-lg border-stone-700 border-y-2 md:gap-10 place-items-center md:pe-16 "
			>
				<div class="pb-8 md:pb-0">
					<img
						class="w-full rounded-2xl drop-shadow-lg"
						src="vinyeda.jpg"
						alt="Imatge Monitoritzaci贸"
					/>
				</div>
				<div class="col-span-3">
					<h2 class="text-3xl font-semibold mb-4 text-[#fffec4]">
						Gesti贸 de vinyes
					</h2>

					<p class="text-xl py-3">
						Amb el nostre programari podrs gestionar les vinyes de
						manera eficient, controlant l'estat de les plantes, el
						reg, la poda, la fertilitzaci贸, les plagues i les
						malalties.
					</p>
					<ul class="list-disc pl-4 md:pl-12 py-4 text-lg">
						<li class="mb-3">
							<span class="font-bold text-2xl text-stone-800"
								>Monitoratge de l'estat de les plantes</span
							>: T'ofereim una visi贸 en temps real de l'estat de
							les plantes. Podrs identificar qualsevol signe de
							malaltia o estr猫s abans que esdevingui un problema
							major. Aix貌 et permet prendre mesures preventives i
							mantenir les vinyes saludables.
						</li>
						<li class="mb-3">
							<span class="font-bold text-2xl text-stone-800"
								>Temperatura ambiental</span
							>
							: per predir condicions climtiques.
						</li>
						<li class="mb-3">
							<span class="font-bold text-2xl text-stone-800"
								>Control del reg</span
							>
							: La quantitat adequada d'aigua 茅s essencial per al creixement
							貌ptim del ra茂m. Amb el nostre sistema, podrs establir
							programes de reg personalitzats basats en les necessitats
							espec铆fiques de cada parcel路la. Aix貌 ajuda a evitar el
							malbaratament d'aigua i assegura que les vinyes rebin
							la quantitat adequada.
						</li>
						<li class="mb-3">
							<span class="font-bold text-2xl text-stone-800"
								>Gesti贸 de plagues i malalties</span
							>
							: Detectar i tractar plagues i malalties a temps 茅s vital
							per a la salut de les vinyes. El nostre programari talertar
							sobre possibles problemes i et proporcionar solucions
							espec铆fiques.
						</li>
						<li class="mb-3">
							<span class="font-bold text-2xl text-stone-800"
								>Poda intel路ligent</span
							>
							: La poda 茅s una part fonamental de la gesti贸 de vinyes.
							El nostre programari et guiar sobre quan i com podar
							les plantes per obtenir el millor rendiment. Podrs ajustar
							la poda segons les condicions climtiques i altres factors.
						</li>
					</ul>
					<p class="text-xl py-3 opacity-65">
						En resum, la nostra soluci贸 de gesti贸 de vinyes et
						permetr treballar de manera m茅s eficient i assolir una
						producci贸 de ra茂m de qualitat. Si tens alguna pregunta
						addicional o vols m茅s detalls, no dubtis a preguntar!
						
					</p>
				</div>
			</div>
		</section>
	</div>
</Layout>
